/* 
ul > li inline menu 
*/
@mixin inline-menu($padding: 10px 20px, $font-size: 14px){
  margin: 0;
  padding: 0;
  list-style: none;
  ul{
    list-style: none;

    li{
        list-style: none;
      a{
        display: inline-block;
        padding: $padding;
        text-decoration: none;
        font-size: $font-size;
        font-weight: $ws-regular;
        color: $color-default-text;

        &.first-child{
            padding-right: 0;
        }

        &.last-child{
            padding-right: 0;
        }

        span{
            margin-left: 8px;
        }

        &:hover{
            font-weight: $ws-medium;
        }
      }
    }
  }
}


@mixin position-top-right($top: 0, $right: 0, $x: 50%, $y: -50%){
    content: "";
    position: absolute;
    border-radius: 50%;
    top: $top;
    right: $right;
    transform: translate( $x, $y );
}