/* 
ul > li inline menu 
*/
@mixin inline-menu($padding: 10px 20px, $font-size: 14px){
  margin: 0;
  padding: 0;
  list-style: none;
  ul{
    list-style: none;

    li{
        list-style: none;
      a{
        display: inline-block;
        padding: $padding;
        text-decoration: none;
        font-size: $font-size;
        font-weight: $ws-regular;
        color: $color-default-text;

        &.first-child{
            padding-right: 0;
        }

        &.last-child{
            padding-right: 0;
        }

        span{
            margin-left: 8px;
        }

        &:hover{
            font-weight: $ws-medium;
        }
      }
    }
  }
}


@mixin position-top-right($top: 0, $right: 0, $x: 50%, $y: -50%){
    content: "";
    position: absolute;
    border-radius: 50%;
    top: $top;
    right: $right;
    transform: translate( $x, $y );
}

@mixin button-outline($font-size: 22px, $color: $color-white, $hover-color: $color-white, $tt: uppercase, $bg: transparent, $border: $color-white, $br: 0px, $padding: 0px 10px){
    font-size: $font-size;
    color: $color;
    padding: $padding;
    text-transform: $tt;
    font-weight: 400;
    background: $bg;
    border: 1px solid $border;
    display: inline-block;
    border-radius: $br;

    &:hover{
        color: $hover-color;
        text-decoration: none;
    }
}