*{
	margin: 0;
	padding: 0
}
dl, ol, ul, li{
	margin: 0;
	padding: 0;
	list-style: none;
}

.form-control:focus{
	box-shadow: none;
	border-color: $color-input-focus;
}

.nav-tabs{
	border: none;

	.nav-link{
		border: none;
		
		&:hover, &:focus{
			border: none;
		}
		
		&.active{
			border: none;
		}
	}
}

a{
	text-decoration: none;
	color: $color-default-text;
}

.dropdown-menu{
	min-width: max-content;
	padding: 0;
	transform: none !important;
	top: 100% !important;
	overflow: hidden;
}