/*
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

font-family: 'Roboto', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Work Sans', sans-serif;
*/
@import 'fonts', 'variables', 'mixins', 'common', 'reset';

body{
	font-family: 'Work Sans', 'Source Sans Pro','Roboto', sans-serif;
	font-size: 14px;
	font-family: $ws-regular;
	position: relative;

	&.show:after{
		background-color: #222;
    opacity: .5;
		content: "";
    width: 100%;
    height: 100%;
    z-index: 20;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
	}
}
/*
.container .row{
	max-width: 1100px;
	margin: 0 auto;
}
*/

.header{
	margin-bottom: 38px;
	padding: 0;
	
	.topbar{
		background: $color-deep-gray;

		.left-menu, .right-menu{
			@include inline-menu($font-size: 13px);
		}
		.left-menu{

		}
		.right-menu{
			
		}
	}

	.main-header{
		background-color: $color-header-bg;
		padding: 26px 0 27px 0;

		.logo{
			max-width: 160px;
			height: auto;
			a{
				display: inline-block;
			}

			img{
				width: 100%;
				height: auto;
			}
		}
		.search-wrap{
			.search-text{
				flex: 2;
				position: relative;
				border-top-left-radius: 10px;
    			border-bottom-left-radius: 10px;

				&:before{
					content: "";
    				height: 22px;
    				width: 13px;
				    background: blue;
				    z-index: 14;
				    position: absolute;
				    left: 9px;
				    top: 0;
				}
			}
			.search-select{
				border-right: 0;
				position: relative;
				&:after{
					content: "\f078";
					font-family: "Font Awesome 5 Free";
					position: absolute;
					right: 0;
					top: 0;
				}
			}
			.search-button{
				background-color: $color-primary;
				font-size: 14px;
				font-family: $ws-regular;
				padding: 8px 38px;
				color: $color-white;
				border-top-right-radius: 10px;
    			border-bottom-right-radius: 10px;	
    			border-top-left-radius: 0;
    			border-bottom-left-radius: 0;
    			margin: 0;
			}
		}
		.menu-icons{
			@include inline-menu($padding: 0 8px, $font-size: 18px);
		}
	}

	.header-menu{
		border-bottom: 1px solid $color-input-focus;
		.categories{
			
		}
		.shop-menu{
			@include inline-menu($padding: 0 12px, $font-size: 15px);
		}	
	}
}

.most-popular, .daily-deals, featured-products{
	.most-popular-tabs, .daily-deals-tabs, .featured-products-tabs{
		.nav-tabs{
			margin-bottom: 40px;
			.nav-link{
				color: $color-default-text;
				
				&.active{
					color: $color-primary;
				}
			}
		}
	}
}

.footer{
	background-color: $color-lite-gray;
	padding: 88px 0 0 0;

	.footer-top{
		margin-bottom: 35px; 

		.footer-logo{
			img{

			}
		}
		.newsletter{
			display: flex;
			align-items: baseline;

			h3{
			    font-size: 18px;
			    font-weight: $ws-regular;
			    line-height: 22px;
			}
			.input-group{
				margin-left: 8px;

				input{
					max-width: 430px;
				}
				button{
				    font-size: 16px;
				    font-weight: $ws-regular;
				    line-height: 22px;
				    padding: 8px 30px 8px 30px;
				}
			}
		}
	}

	.footer-main{
		padding-bottom: 64px;
		p{
		    font-size: 14px;
		    font-weight: $ws-regular;
		    line-height: 22px;
		    margin-bottom: 16px;
		}
	}
}
.footer-bottom{
	background-color: $color-primary-bg;
	text-align: center;

	.footer-copyright{
			font-size: 14px;
	    font-weight: $ws-regular;
	    line-height: 22px;
			padding: 20px 0 22px 0;
			color: $color-white;

		p{
			margin: 0;
			width: 100%;
		}
	}	
}

/* Dropdown menu style */
.categories{
	max-width: 350px;
	position: relative;
	z-index: 99;
	background-color: $color-white;
	cursor: pointer;

	.dropdown-button{
		order: none;
	    background: transparent;
	    width: 100%;
	    padding: 20px 10px;
	    text-align: left;
	    display: flex;
	    align-items: center;
	    position: relative;

	    &:before{
	    	content: "";
	    	position: absolute;
	    	display: none;
	    	bottom: -2px;
	    	left: 30px;
		      width: 0; 
			  height: 0; 
			  border-left: 10px solid transparent;
			  border-right: 10px solid transparent;
			  border-bottom: 20px solid $color-header-bg;
			  z-index: 1;
	    }
	    i{
	    	margin-right: 10px;
	    	font-size: 13px;
	    }

		.category-list{
			border: 1px solid $color-input-focus;
			border-radius: 10px;
			background: $color-white;
			display: none;
			position: absolute;
			left: 0;
			top: 100%;

			> ul{
				> li{
					position: relative;
					padding: 0 35px;
					a{
					    font-size: 	15px;
					    font-weight: $ws-regular;
					    line-height: 18px;
					    padding: 13px 0;
					    display: block;
					    border-bottom: 1px solid $color-input-focus;
					    i{
					    	margin-right: 12px;
					    }
					}
					&.see-all{
				    	background-color: $color-header-bg;
				    	text-align: center;
				    	padding: 0;
				    }
					> ul{
						display: none;
						transition: all 0.3s linear;
						position: absolute;
						left: 100%;
						top: 0;
						background-color: $color-white;
						border: 1px solid $color-input-focus;
						border-radius: 10px;
						min-width: 200px;

						> li {
							padding: 0 35px;

							a{
								border-bottom: 1px solid $color-input-focus;
							}

							&:hover{
								background-color: $color-header-bg;

								a{
									border-bottom: 1px solid transparent;
								}
							}
							&:last-child{
								a{
									border-bottom: 1px solid transparent;
								}
							}
						}
					}

					&:hover{
						a{
							i{
								margin-right: 14px;
								transition: all 0.3s linear;
							}
						}
						> ul{
							display: block;
						}
					}
					&:last-child{
						a{
							border: 1px solid transparent;
						}
					}
				}
			}
		}

	    &:hover{
	    	&:before,
	    	.category-list{
	    		display: block;
	    	}
	    }
	}
}
/* ./Dropdown menu style */

/* category wrapper style */

.category-wrapper{
	.category-list{
		padding: 35px 30px 35px 40px;
		border: 1px solid $color-input-focus;
		border-radius: 5px;

		> ul{
			> li{
				border-bottom: 1px solid $color-input-focus;
				position: relative;
				a{
				    font-size: 	15px;
				    font-weight: $ws-regular;
				    line-height: 18px;
				    padding: 13px 0;
				    display: block;
				    i{
				    	margin-right: 12px;
				    }
				}
				> ul{
					display: none;
					transition: all 0.3s linear;
					position: absolute;
					left: calc( 100% + 25px );

					> li {

					}
				}

				&:hover{
					a{
						i{
							margin-right: 14px;
							transition: all 0.3s linear;
						}
					}
					> ul{
						display: block;
					}
				}
				&:last-child{
					border: none;
				}
			}
		}
	}
	.category-slider{
		height: 100%;

		.swiper-slide{
			height: 100%;
			border: none;
			align-items: flex-start;
			border-radius: 10px;
			overflow: hidden;

			img{
				height: 100%;
				width: 100%;
			}

			.slider-content{
				position: absolute;
				top: 30px;
				right: 40px;
				text-align: right;

				h3{
					font-size: 40px;
		    		margin-bottom: 12px;
			 	   	color: $color-text-gray;
				    line-height: 40px;
				    font-weight: $ws-bold;
				    font-weight: 'Roboto';
				}
				.button-outline{
					@include button-outline($font-size: 20px, $color: $color-text-gray, $hover-color: $color-text-gray, $tt: none, $border: $color-text-gray, $br: 5px, $padding: 5px 15px);
				}
			}
		}
		.swiper-pagination{
			bottom: 40px !important;
			margin: 0 !important;
		}
		.swiper-button-next, .swiper-button-prev{
			top: 50%;
		}

	}
	.category-promotion{
		padding: 40px 15px 30px 15px;
		text-align: center;
		border-radius: 10px;
		overflow: hidden;
		background-position: center;
		background-size: cover;

		h4{
			font-size: 	22px;
		    font-weight: $ws-black;
		    line-height: 33px;
		    font-family: $ff-roboto;
		    margin-bottom: 10px;
		    color: #636363;
		}
		h3{
			font-size: 	26px;
		    font-weight: $ws-black;
		    line-height: 33px;
		    font-family: $ff-roboto;
		    margin-bottom: 18px;
		    color: #636363;
		}
		.button-outline{

			@include button-outline($font-size: 15px, $color: $color-text-gray, $hover-color: $color-text-gray, $tt: none, $border: $color-text-gray, $br: 5px, $padding: 5px 15px);
		}
	}
	.category-image-slider{
		.swiper-slide{
			overflow: hidden;
			border: none;
			height: auto;
			a{
				display: block;
				text-align: center;
				.thumb-image{
					background: $color-lite-gray;
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 15px;
					width: 100%;
					height: 132px;
					border-radius: 10px;
					overflow: hidden;
					margin-bottom: 5px;

					img{
						width: 100%;
						height: auto;
					}
				}
				p{
					font-size: 	16px;
				    font-weight: $ws-regular;
				    line-height: 33px;
				    margin-bottom: 33px;
				}
			}
			&:hover{
				img{
					transform: scale(1.1);
					transition: all 0.2s;
				}
			}
		}
		.swiper-pagination{
			margin: 45px 0 0 0;
			bottom: 0 !important;
		}
		.swiper-button-next, 
		.swiper-button-prev{
			top: calc( 50% - 30px );
		}

		&:first-child{
			padding-left: 0;
		}
		&:last-child{
			padding-right: 0;
		}
	}
}

/* ./category wrapper style */

/* brands and shops slider style */
.brands-slider, 
.shops-slider{
	.swiper-wrapper{
		.swiper-slide{
			height: 160px;
			display: flex;
			justify-content: center;
			align-items: center;
			border: 1px solid $color-input-focus;
			overflow: hidden;
			padding: 20px;

			a{
				max-width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			img{
				width: 100%; 
				max-height: 100%;
				height: auto;
			}
		}
	}

	.swiper-pagination{
		bottom: 100px;
		margin: 45px 0 0 0;

		.swiper-pagination-bullet{
			background: $color-white;
			border: 1px solid $color-text-gray;
			height: 10px;
			width: 10px;
		}

		.swiper-pagination-bullet-active{
			background: $color-text-gray;
		}	
	}

	.swiper-button-next, .swiper-button-prev{
		top: calc( 50% - 45px );
	}
	.swiper-button-next:after, .swiper-button-prev:after{
		font-size: 15px;
	}
}
/* ./brands and shops slider style */

/* shop sidebar */
.shop-sidebar{
	.sidebar-row{
		margin-bottom: 25px;
	}

	.sidebar-label{
		font-weight: $ws-medium;
		line-height: 22px;
		font-size: 16px;
		margin-bottom: 20px;
	}
	.sidebar-input{
		width: 100%;
		border: 1px solid $color-input-focus;
		font-size: 14px;
		padding: 10px 20px 10px 20px;
		border-radius: 4px;
	}

	/* range slider */
	.price-range{
		position: relative;

		.range-container{
			position: relative;
			width: 100%;
			margin: 10px 0 25px 0;
		}

		input[type="range"]{
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			width: 100%;
			outline: none;
			position: absolute;
			margin: auto;
			top: 0;
			bottom: 0;
			background-color: transparent;
			pointer-events: none;
			transform: translateY(-100%);
		}

		.slider-track{
			width: 100%;
			height: 5px;
			border-radius: 5px;
		}

		input[type="range"]::-webkit-slider-runnable-track{
			-webkit-appearance: none;
			height: 5px;
		}
		input[type="range"]::-moz-range-track{
			-moz-appearance: none;
			height: 5px;
		}
		input[type="range"]::-ms-track{
			appearance: none;
			height: 5px;
		}
		input[type="range"]::-webkit-slider-thumb{
			-webkit-appearance: none;
			height: 15px;
			width: 15px;
			background-color: #3264fe;
			cursor: pointer;
			pointer-events: auto;
			border-radius: 5px;
		}
		input[type="range"]::-moz-range-thumb{
			-webkit-appearance: none;
			height: 15px;
			width: 15px;
			cursor: pointer;
			border-radius: 50%;
			background-color: #3264fe;
			pointer-events: auto;
		}
		input[type="range"]::-ms-thumb{
			appearance: none;
			height: 15px;
			width: 15px;
			cursor: pointer;
			border-radius: 5px;
			background-color: #3264fe;
			pointer-events: auto;
		}
		input[type="range"]:active::-webkit-slider-thumb{
			background-color: #ffffff;
			border: 3px solid #3264fe;
		}
		.range-values{
			display: inline-flex;
			column-gap: 10px;
			align-items: center;
		}
		input[type="number"]{
			-webkit-appearance: none;
			-moz-appearance: none;
			max-width: 70px;
			border: 1px solid $color-input-focus;
			border-radius: 4px;
			padding: 2px 10px;
		}
		.range-go{
			padding: 5px 12px;
			font-size: 14px;
			border-radius: 4px;
			background-color: $color-primary;
			color: $color-white;
			font-weight: $ws-regular;
			line-height: 22px;
			border: none;
			transition: all 0.2s linear;

			&:hover{
				background-color: $color-primary-hover-bg;
			}
		}
	}
	/* ./range slider */

	/* shop sidebar search input */
	.search-wrap{
		.search-form{
			position: relative;
			.sidebar-input{
				padding-right: 25%;
			}

			.search-button{
				position: absolute;
				right: 4px;
				top: 4px;
				bottom: 4px;
				z-index: 1;
				padding: 10px 15px;
				font-size: 14px;
				border-radius: 4px;
				background-color: $color-primary;
				color: $color-white;
				border: none;
				transition: all 0.2s linear;

				&:hover{
					background-color: $color-primary-hover-bg;
				}
			}
		}
	}
	/* ./shop sidebar search input*/

	/* size radio button style */
	.radio-wrap{
		.radio-item{
			position:relative;
			display: inline-flex;
			column-gap: 5px;

			input {
				visibility:hidden;
				width:0;

				&:checked + label {
					outline: 1px outset $color-primary;
				}
			}

			label{
				border: 5px solid #fff;
				outline: 1px solid $color-input-focus;
				padding: 8px 12px;
				border-radius: 5px;
				font-size: 16px;
				font-weight: $ws-medium;
				line-height: 22px;

				&:hover {

				}
			}
		}
	}

	.color-wrap{
		.radio-item{
			label{
				padding: 15px 15px;
			}
		}
	}
	/* ./size radio button style */

	.progress-wrap{
		display: flex;
		align-items: center;
		column-gap: 10px;

		.progress-label{
			font-weight: $ws-regular;
			font-size: 14px;
			line-height: 22px;
			color: $color-text-gray;
			margin: 0;
		}
		.progress{
			flex: 1;
			.progress-bar{

			}
		}
	}
}
/* ./shop sidebar */

/* Single product page */
.single-product-wrap{
	.product-gallery-container {
		$product-gallery-height: 500px;

		position: relative;
		width: 100%;
		height: $product-gallery-height;
		display: flex;
		justify-content: space-between;
		overflow: hidden;

		.gallery-main {
			width: calc( 100% - 125px );
			height: 100%;

			.swiper-wrapper{

				.swiper-slide {
					border-radius: 8px;
					padding: 50px;
					overflow: hidden;
					background-color: $color-lite-gray;
					img{
						width: 100%;
						height: auto;
					}

				}
			}

			.swiper-button {
				&-prev,
				&-next {
					position: absolute;
					bottom: 0;
					right: 0;
					top: auto;
					left: auto;
					height: 40px;
					width: 40px;
					color: $color-white;
					background: $color-text-gray;

					&::after {
					font-size: 12px;
					}
				}

				&-prev {
					right: 45px;
					border-right: 1px solid #e9e9e9;
				}
			}
		}

		.gallery-thumbs {
			order: -1;
			margin-top: 20px;

			.swiper-wrapper{

				.swiper-slide {
					padding: 12px 15px;
					width: 115px;
					background-color: $color-lite-gray;
					border-radius: 8px;

					img {
						transition: 0.3s;
						width: 100%;
						height: auto;
					}

					&-active {
						opacity: 0.9;
					}

					&-thumb-active {
						opacity: 1;
						border: 1px solid $color-primary;
					}
				}
			}
		}
	}

	.product-details-container{
		padding: 0 20px;
		.product-title{
			font-size: 40px;
			font-weight: $ws-regular;
			line-height: 22px;
			color: $color-default-text;
			margin-bottom: 15px;
		}
		.price{
			font-size: 16px;
			font-weight: $ws-regular;
			line-height: 22px;
			margin-bottom: 15px;
				
			.sale{
				color: $color-default-text;
			}
			.del{
				color: $color-text-gray;
				text-decoration: line-through;
			}
		}
		.ratings{
			margin-bottom: 15px;
			span{
				font-size: 14px;
				font-weight: $ws-regular;
				line-height: 22px;
				margin-left: 7px;
				color: $color-text-gray;
			}
		}
		.excerpt{
			font-size: 14px;
			font-weight: $ws-regular;
			line-height: 24px;
			color: $color-default-text;
			margin-bottom: 15px;
		}
		.product-meta{
			font-size: 14px;
			font-weight: $ws-regular;
			line-height: 24px;
			color: $color-default-text;
			margin-bottom: 15px;

			/* size radio button style */
			&.radio-wrap{
				margin-right: 50px;
				.radio-item{
					column-gap: 10px;

					label{

						padding: 0px 5px;
						border-radius: 3px;
						line-height: 20px;
					}
				}

				&.color-wrap{
					.radio-item{
						label{
							padding: 8px 8px;
							border-radius: 3px;
						}
					}
				}
			}
			/* ./size radio button style */

			.content{
				color: $color-text-gray;
			}
			button{
				font-size: 14px;
				font-weight: $ws-regular;
				line-height: 22px;
				color: $color-white;
				padding: 9px 22px;
			}
		}
		.cart-buttons-wrap{
			margin-bottom: 15px;
			button{
				margin: 10px 20px 10px 0;
				padding: 6px 14px;
			}
		}
		.wishlist-compare-wrap{
			margin-bottom: 15px;
			button{
				text-decoration: none;
				font-weight: $ws-medium;
				padding: 6px 14px 6px 0;
			}
		}
		.social-share-wrap{
			p{
				display: inline;
				margin-right: 30px;
				font-size: 14px;
				font-weight: $ws-bold;
				line-height: 22px;
				color: $color-default-text;
			}
			a{
				color: $color-text-gray;
				margin-right: 15px;
				display: inline-block;
				font-size: 14px;
				&:hover{
					color: $color-default-text;
				}
			}
		}
	}
}
/* ./Single product page*/


/* responsive style */

@import 'responsive';

/* ./responsive style */


