/* Colors */
$color-default-text: #333333;
$color-white: #ffffff;

$color-deep-gray: #E1E1E1;
$color-lite-gray: #F3F3F3;
$color-text-gray: #777777;
$color-input-focus: #D7D7D7;

$color-active: #16D50D;


$color-header-bg: #D9E8FB;
$color-primary-bg: #0C6ADF;
$color-primary-hover-bg: #1164cb;
$color-primary: #2E74E8;


/* Font Families */
$ff-ws: 'Work Sans';
$ff-ssp: 'Source Sans Pro';
$ff-roboto: 'Roboto';


/* Font Weight for Work Sans */
/*
$ws-thin: 100;
$ws-extra-light: 200;
$ws-light: 300;
*/
$ws-regular: 400;
$ws-medium: 500;
$ws-black: 900;
$ws-bold: 700;
/*
$ws-semi-bold: 600;
$ws-bold: 700;
$ws-extra-bold: 800;

*/