/*
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

font-family: 'Roboto', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Work Sans', sans-serif;
*/
/* work-sans-100 - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 100;
  src: url("../../fonts/work-sans-v13-latin-100.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/work-sans-v13-latin-100.eot?#iefix") format("embedded-opentype"), url("../../fonts/work-sans-v13-latin-100.woff2") format("woff2"), url("../../fonts/work-sans-v13-latin-100.woff") format("woff"), url("../../fonts/work-sans-v13-latin-100.ttf") format("truetype"), url("../../fonts/work-sans-v13-latin-100.svg#WorkSans") format("svg");
  /* Legacy iOS */ }
/* work-sans-200 - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 200;
  src: url("../../fonts/work-sans-v13-latin-200.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/work-sans-v13-latin-200.eot?#iefix") format("embedded-opentype"), url("../../fonts/work-sans-v13-latin-200.woff2") format("woff2"), url("../../fonts/work-sans-v13-latin-200.woff") format("woff"), url("../../fonts/work-sans-v13-latin-200.ttf") format("truetype"), url("../../fonts/work-sans-v13-latin-200.svg#WorkSans") format("svg");
  /* Legacy iOS */ }
/* work-sans-300 - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 300;
  src: url("../../fonts/work-sans-v13-latin-300.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/work-sans-v13-latin-300.eot?#iefix") format("embedded-opentype"), url("../../fonts/work-sans-v13-latin-300.woff2") format("woff2"), url("../../fonts/work-sans-v13-latin-300.woff") format("woff"), url("../../fonts/work-sans-v13-latin-300.ttf") format("truetype"), url("../../fonts/work-sans-v13-latin-300.svg#WorkSans") format("svg");
  /* Legacy iOS */ }
/* work-sans-regular - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/work-sans-v13-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/work-sans-v13-latin-regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/work-sans-v13-latin-regular.woff2") format("woff2"), url("../../fonts/work-sans-v13-latin-regular.woff") format("woff"), url("../../fonts/work-sans-v13-latin-regular.ttf") format("truetype"), url("../../fonts/work-sans-v13-latin-regular.svg#WorkSans") format("svg");
  /* Legacy iOS */ }
/* work-sans-500 - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/work-sans-v13-latin-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/work-sans-v13-latin-500.eot?#iefix") format("embedded-opentype"), url("../../fonts/work-sans-v13-latin-500.woff2") format("woff2"), url("../../fonts/work-sans-v13-latin-500.woff") format("woff"), url("../../fonts/work-sans-v13-latin-500.ttf") format("truetype"), url("../../fonts/work-sans-v13-latin-500.svg#WorkSans") format("svg");
  /* Legacy iOS */ }
/* work-sans-600 - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  src: url("../../fonts/work-sans-v13-latin-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/work-sans-v13-latin-600.eot?#iefix") format("embedded-opentype"), url("../../fonts/work-sans-v13-latin-600.woff2") format("woff2"), url("../../fonts/work-sans-v13-latin-600.woff") format("woff"), url("../../fonts/work-sans-v13-latin-600.ttf") format("truetype"), url("../../fonts/work-sans-v13-latin-600.svg#WorkSans") format("svg");
  /* Legacy iOS */ }
/* work-sans-700 - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/work-sans-v13-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/work-sans-v13-latin-700.eot?#iefix") format("embedded-opentype"), url("../../fonts/work-sans-v13-latin-700.woff2") format("woff2"), url("../../fonts/work-sans-v13-latin-700.woff") format("woff"), url("../../fonts/work-sans-v13-latin-700.ttf") format("truetype"), url("../../fonts/work-sans-v13-latin-700.svg#WorkSans") format("svg");
  /* Legacy iOS */ }
/* work-sans-800 - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 800;
  src: url("../../fonts/work-sans-v13-latin-800.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/work-sans-v13-latin-800.eot?#iefix") format("embedded-opentype"), url("../../fonts/work-sans-v13-latin-800.woff2") format("woff2"), url("../../fonts/work-sans-v13-latin-800.woff") format("woff"), url("../../fonts/work-sans-v13-latin-800.ttf") format("truetype"), url("../../fonts/work-sans-v13-latin-800.svg#WorkSans") format("svg");
  /* Legacy iOS */ }
/* work-sans-900 - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 900;
  src: url("../../fonts/work-sans-v13-latin-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/work-sans-v13-latin-900.eot?#iefix") format("embedded-opentype"), url("../../fonts/work-sans-v13-latin-900.woff2") format("woff2"), url("../../fonts/work-sans-v13-latin-900.woff") format("woff"), url("../../fonts/work-sans-v13-latin-900.ttf") format("truetype"), url("../../fonts/work-sans-v13-latin-900.svg#WorkSans") format("svg");
  /* Legacy iOS */ }
/* work-sans-100italic - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 100;
  src: url("../../fonts/work-sans-v13-latin-100italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/work-sans-v13-latin-100italic.eot?#iefix") format("embedded-opentype"), url("../../fonts/work-sans-v13-latin-100italic.woff2") format("woff2"), url("../../fonts/work-sans-v13-latin-100italic.woff") format("woff"), url("../../fonts/work-sans-v13-latin-100italic.ttf") format("truetype"), url("../../fonts/work-sans-v13-latin-100italic.svg#WorkSans") format("svg");
  /* Legacy iOS */ }
/* work-sans-300italic - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 300;
  src: url("../../fonts/work-sans-v13-latin-300italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/work-sans-v13-latin-300italic.eot?#iefix") format("embedded-opentype"), url("../../fonts/work-sans-v13-latin-300italic.woff2") format("woff2"), url("../../fonts/work-sans-v13-latin-300italic.woff") format("woff"), url("../../fonts/work-sans-v13-latin-300italic.ttf") format("truetype"), url("../../fonts/work-sans-v13-latin-300italic.svg#WorkSans") format("svg");
  /* Legacy iOS */ }
/* work-sans-italic - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 400;
  src: url("../../fonts/work-sans-v13-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/work-sans-v13-latin-italic.eot?#iefix") format("embedded-opentype"), url("../../fonts/work-sans-v13-latin-italic.woff2") format("woff2"), url("../../fonts/work-sans-v13-latin-italic.woff") format("woff"), url("../../fonts/work-sans-v13-latin-italic.ttf") format("truetype"), url("../../fonts/work-sans-v13-latin-italic.svg#WorkSans") format("svg");
  /* Legacy iOS */ }
/* work-sans-200italic - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 200;
  src: url("../../fonts/work-sans-v13-latin-200italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/work-sans-v13-latin-200italic.eot?#iefix") format("embedded-opentype"), url("../../fonts/work-sans-v13-latin-200italic.woff2") format("woff2"), url("../../fonts/work-sans-v13-latin-200italic.woff") format("woff"), url("../../fonts/work-sans-v13-latin-200italic.ttf") format("truetype"), url("../../fonts/work-sans-v13-latin-200italic.svg#WorkSans") format("svg");
  /* Legacy iOS */ }
/* work-sans-500italic - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 500;
  src: url("../../fonts/work-sans-v13-latin-500italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/work-sans-v13-latin-500italic.eot?#iefix") format("embedded-opentype"), url("../../fonts/work-sans-v13-latin-500italic.woff2") format("woff2"), url("../../fonts/work-sans-v13-latin-500italic.woff") format("woff"), url("../../fonts/work-sans-v13-latin-500italic.ttf") format("truetype"), url("../../fonts/work-sans-v13-latin-500italic.svg#WorkSans") format("svg");
  /* Legacy iOS */ }
/* work-sans-600italic - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 600;
  src: url("../../fonts/work-sans-v13-latin-600italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/work-sans-v13-latin-600italic.eot?#iefix") format("embedded-opentype"), url("../../fonts/work-sans-v13-latin-600italic.woff2") format("woff2"), url("../../fonts/work-sans-v13-latin-600italic.woff") format("woff"), url("../../fonts/work-sans-v13-latin-600italic.ttf") format("truetype"), url("../../fonts/work-sans-v13-latin-600italic.svg#WorkSans") format("svg");
  /* Legacy iOS */ }
/* work-sans-700italic - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 700;
  src: url("../../fonts/work-sans-v13-latin-700italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/work-sans-v13-latin-700italic.eot?#iefix") format("embedded-opentype"), url("../../fonts/work-sans-v13-latin-700italic.woff2") format("woff2"), url("../../fonts/work-sans-v13-latin-700italic.woff") format("woff"), url("../../fonts/work-sans-v13-latin-700italic.ttf") format("truetype"), url("../../fonts/work-sans-v13-latin-700italic.svg#WorkSans") format("svg");
  /* Legacy iOS */ }
/* work-sans-800italic - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 800;
  src: url("../../fonts/work-sans-v13-latin-800italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/work-sans-v13-latin-800italic.eot?#iefix") format("embedded-opentype"), url("../../fonts/work-sans-v13-latin-800italic.woff2") format("woff2"), url("../../fonts/work-sans-v13-latin-800italic.woff") format("woff"), url("../../fonts/work-sans-v13-latin-800italic.ttf") format("truetype"), url("../../fonts/work-sans-v13-latin-800italic.svg#WorkSans") format("svg");
  /* Legacy iOS */ }
/* work-sans-900italic - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 900;
  src: url("../../fonts/work-sans-v13-latin-900italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/work-sans-v13-latin-900italic.eot?#iefix") format("embedded-opentype"), url("../../fonts/work-sans-v13-latin-900italic.woff2") format("woff2"), url("../../fonts/work-sans-v13-latin-900italic.woff") format("woff"), url("../../fonts/work-sans-v13-latin-900italic.ttf") format("truetype"), url("../../fonts/work-sans-v13-latin-900italic.svg#WorkSans") format("svg");
  /* Legacy iOS */ }
/* source-sans-pro-200 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 200;
  src: url("../../fonts/source-sans-pro-v18-latin-200.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/source-sans-pro-v18-latin-200.eot?#iefix") format("embedded-opentype"), url("../../fonts/source-sans-pro-v18-latin-200.woff2") format("woff2"), url("../../fonts/source-sans-pro-v18-latin-200.woff") format("woff"), url("../../fonts/source-sans-pro-v18-latin-200.ttf") format("truetype"), url("../../fonts/source-sans-pro-v18-latin-200.svg#SourceSansPro") format("svg");
  /* Legacy iOS */ }
/* source-sans-pro-200italic - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 200;
  src: url("../../fonts/source-sans-pro-v18-latin-200italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/source-sans-pro-v18-latin-200italic.eot?#iefix") format("embedded-opentype"), url("../../fonts/source-sans-pro-v18-latin-200italic.woff2") format("woff2"), url("../../fonts/source-sans-pro-v18-latin-200italic.woff") format("woff"), url("../../fonts/source-sans-pro-v18-latin-200italic.ttf") format("truetype"), url("../../fonts/source-sans-pro-v18-latin-200italic.svg#SourceSansPro") format("svg");
  /* Legacy iOS */ }
/* source-sans-pro-300 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url("../../fonts/source-sans-pro-v18-latin-300.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/source-sans-pro-v18-latin-300.eot?#iefix") format("embedded-opentype"), url("../../fonts/source-sans-pro-v18-latin-300.woff2") format("woff2"), url("../../fonts/source-sans-pro-v18-latin-300.woff") format("woff"), url("../../fonts/source-sans-pro-v18-latin-300.ttf") format("truetype"), url("../../fonts/source-sans-pro-v18-latin-300.svg#SourceSansPro") format("svg");
  /* Legacy iOS */ }
/* source-sans-pro-300italic - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 300;
  src: url("../../fonts/source-sans-pro-v18-latin-300italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/source-sans-pro-v18-latin-300italic.eot?#iefix") format("embedded-opentype"), url("../../fonts/source-sans-pro-v18-latin-300italic.woff2") format("woff2"), url("../../fonts/source-sans-pro-v18-latin-300italic.woff") format("woff"), url("../../fonts/source-sans-pro-v18-latin-300italic.ttf") format("truetype"), url("../../fonts/source-sans-pro-v18-latin-300italic.svg#SourceSansPro") format("svg");
  /* Legacy iOS */ }
/* source-sans-pro-regular - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/source-sans-pro-v18-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/source-sans-pro-v18-latin-regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/source-sans-pro-v18-latin-regular.woff2") format("woff2"), url("../../fonts/source-sans-pro-v18-latin-regular.woff") format("woff"), url("../../fonts/source-sans-pro-v18-latin-regular.ttf") format("truetype"), url("../../fonts/source-sans-pro-v18-latin-regular.svg#SourceSansPro") format("svg");
  /* Legacy iOS */ }
/* source-sans-pro-italic - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: url("../../fonts/source-sans-pro-v18-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/source-sans-pro-v18-latin-italic.eot?#iefix") format("embedded-opentype"), url("../../fonts/source-sans-pro-v18-latin-italic.woff2") format("woff2"), url("../../fonts/source-sans-pro-v18-latin-italic.woff") format("woff"), url("../../fonts/source-sans-pro-v18-latin-italic.ttf") format("truetype"), url("../../fonts/source-sans-pro-v18-latin-italic.svg#SourceSansPro") format("svg");
  /* Legacy iOS */ }
/* source-sans-pro-600 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url("../../fonts/source-sans-pro-v18-latin-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/source-sans-pro-v18-latin-600.eot?#iefix") format("embedded-opentype"), url("../../fonts/source-sans-pro-v18-latin-600.woff2") format("woff2"), url("../../fonts/source-sans-pro-v18-latin-600.woff") format("woff"), url("../../fonts/source-sans-pro-v18-latin-600.ttf") format("truetype"), url("../../fonts/source-sans-pro-v18-latin-600.svg#SourceSansPro") format("svg");
  /* Legacy iOS */ }
/* source-sans-pro-600italic - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 600;
  src: url("../../fonts/source-sans-pro-v18-latin-600italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/source-sans-pro-v18-latin-600italic.eot?#iefix") format("embedded-opentype"), url("../../fonts/source-sans-pro-v18-latin-600italic.woff2") format("woff2"), url("../../fonts/source-sans-pro-v18-latin-600italic.woff") format("woff"), url("../../fonts/source-sans-pro-v18-latin-600italic.ttf") format("truetype"), url("../../fonts/source-sans-pro-v18-latin-600italic.svg#SourceSansPro") format("svg");
  /* Legacy iOS */ }
/* source-sans-pro-700 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/source-sans-pro-v18-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/source-sans-pro-v18-latin-700.eot?#iefix") format("embedded-opentype"), url("../../fonts/source-sans-pro-v18-latin-700.woff2") format("woff2"), url("../../fonts/source-sans-pro-v18-latin-700.woff") format("woff"), url("../../fonts/source-sans-pro-v18-latin-700.ttf") format("truetype"), url("../../fonts/source-sans-pro-v18-latin-700.svg#SourceSansPro") format("svg");
  /* Legacy iOS */ }
/* source-sans-pro-700italic - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 700;
  src: url("../../fonts/source-sans-pro-v18-latin-700italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/source-sans-pro-v18-latin-700italic.eot?#iefix") format("embedded-opentype"), url("../../fonts/source-sans-pro-v18-latin-700italic.woff2") format("woff2"), url("../../fonts/source-sans-pro-v18-latin-700italic.woff") format("woff"), url("../../fonts/source-sans-pro-v18-latin-700italic.ttf") format("truetype"), url("../../fonts/source-sans-pro-v18-latin-700italic.svg#SourceSansPro") format("svg");
  /* Legacy iOS */ }
/* source-sans-pro-900 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 900;
  src: url("../../fonts/source-sans-pro-v18-latin-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/source-sans-pro-v18-latin-900.eot?#iefix") format("embedded-opentype"), url("../../fonts/source-sans-pro-v18-latin-900.woff2") format("woff2"), url("../../fonts/source-sans-pro-v18-latin-900.woff") format("woff"), url("../../fonts/source-sans-pro-v18-latin-900.ttf") format("truetype"), url("../../fonts/source-sans-pro-v18-latin-900.svg#SourceSansPro") format("svg");
  /* Legacy iOS */ }
/* source-sans-pro-900italic - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 900;
  src: url("../../fonts/source-sans-pro-v18-latin-900italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../../fonts/source-sans-pro-v18-latin-900italic.eot?#iefix") format("embedded-opentype"), url("../../fonts/source-sans-pro-v18-latin-900italic.woff2") format("woff2"), url("../../fonts/source-sans-pro-v18-latin-900italic.woff") format("woff"), url("../../fonts/source-sans-pro-v18-latin-900italic.ttf") format("truetype"), url("../../fonts/source-sans-pro-v18-latin-900italic.svg#SourceSansPro") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'icomoon';
  src: url("../../fonts/icomoon.eot?7uvx1f");
  src: url("../../fonts/icomoon.eot?7uvx1f#iefix") format("embedded-opentype"), url("../../fonts/icomoon.ttf?7uvx1f") format("truetype"), url("../../fonts/icomoon.woff?7uvx1f") format("woff"), url("../../fonts/icomoon.svg?7uvx1f#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-automobile:before {
  content: "\e900"; }

.icon-bags:before {
  content: "\e901"; }

.icon-balance:before {
  content: "\e902"; }

.icon-bar:before {
  content: "\e903"; }

.icon-bascet:before {
  content: "\e904"; }

.icon-beauty:before {
  content: "\e905"; }

.icon-globe:before {
  content: "\e907"; }

.icon-grocery:before {
  content: "\e908"; }

.icon-heart:before {
  content: "\e909"; }

.icon-linkedin:before {
  content: "\e90a";
  color: #0c6adf; }

.icon-mail:before {
  content: "\e90b"; }

.icon-notification .path1:before {
  content: "\e90c";
  color: #333333; }

.icon-notification .path2:before {
  content: "\e90d";
  margin-left: -1.0830078125em;
  color: #16d50d; }

.icon-outdoor:before {
  content: "\e90e"; }

.icon-phone:before {
  content: "\e90f"; }

.icon-toys:before {
  content: "\e910"; }

.icon-twitter:before {
  content: "\e911";
  color: #0c6adf; }

.icon-user:before {
  content: "\e912"; }

/* Colors */
/* Font Families */
/* Font Weight for Work Sans */
/*
$ws-thin: 100;
$ws-extra-light: 200;
$ws-light: 300;
*/
/*
$ws-semi-bold: 600;
$ws-bold: 700;
$ws-extra-bold: 800;

*/
/* 
ul > li inline menu 
*/
.active-dot {
  position: relative; }
  .active-dot:after {
    height: 6px;
    width: 6px;
    background-color: #16D50D;
    content: "";
    position: absolute;
    border-radius: 50%;
    top: 0;
    right: 0;
    transform: translate(50%, -50%); }

.count-circle {
  position: relative;
  margin-right: 8px; }
  .count-circle span {
    height: 18px;
    width: 18px;
    background-color: #0C6ADF;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: "Source Sans Pro";
    content: "";
    position: absolute;
    border-radius: 50%;
    top: 0;
    right: 0;
    transform: translate(60%, -60%); }

.section-title {
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  line-height: 22px;
  margin: 20px 0; }

.section-subtitle {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 20px; }

.footer-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 15px; }

.primary-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  padding: 10px 16px;
  border-radius: 5px;
  background-color: #0C6ADF;
  color: #ffffff;
  width: auto;
  transition: all 0.5s linear; }
  .primary-button:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #1164cb; }

.show {
  display: block !important; }

.products-wrap .single-product.style-1 {
  border-radius: 10px;
  box-shadow: 0px 0px 0px 1px #E1E1E1;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden; }
  .products-wrap .single-product.style-1 .image-wrap {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; }
    .products-wrap .single-product.style-1 .image-wrap img {
      width: 100%;
      height: auto; }
    .products-wrap .single-product.style-1 .image-wrap .badges {
      position: absolute;
      top: 10px;
      left: 10px;
      right: 10px;
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse; }
      .products-wrap .single-product.style-1 .image-wrap .badges .badge {
        border-radius: 5px;
        padding: 3px 10px;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        margin: 0 1px;
        height: auto;
        width: auto; }
      .products-wrap .single-product.style-1 .image-wrap .badges .sale-badge {
        background: #2E74E8;
        color: #ffffff;
        order: 1; }
      .products-wrap .single-product.style-1 .image-wrap .badges .tag-badge {
        background: #2E74E8;
        color: #ffffff;
        order: 2; }
    .products-wrap .single-product.style-1 .image-wrap .buttons-wrap {
      position: absolute;
      bottom: 0;
      visibility: hidden;
      opacity: 0;
      transition: all 0.3s linear; }
      .products-wrap .single-product.style-1 .image-wrap .buttons-wrap button {
        padding: 9px 10px 10px 11px;
        border-radius: 4px;
        background: #0C6ADF;
        border: none;
        color: #ffffff;
        margin-right: 5px; }
        .products-wrap .single-product.style-1 .image-wrap .buttons-wrap button:last-child {
          margin-right: 0; }
  .products-wrap .single-product.style-1 .content-wrap {
    flex: 1;
    padding: 12px 0 16px 0;
    text-align: center; }
    .products-wrap .single-product.style-1 .content-wrap .product-title {
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      color: #0C6ADF;
      margin-bottom: 5px; }
      .products-wrap .single-product.style-1 .content-wrap .product-title a {
        text-decoration: none;
        color: #0C6ADF; }
    .products-wrap .single-product.style-1 .content-wrap .price {
      color: #333333;
      font-weight: 500;
      line-height: 22px;
      margin-bottom: 5px; }
      .products-wrap .single-product.style-1 .content-wrap .price .del {
        text-decoration: line-through;
        color: #ACACAC; }
    .products-wrap .single-product.style-1 .content-wrap .ratings {
      color: #1658A6;
      font-size: 12px; }
  .products-wrap .single-product.style-1:hover {
    box-shadow: 0px 2px 5px 2px #E1E1E1; }
    .products-wrap .single-product.style-1:hover .image-wrap {
      background: #F3F3F3;
      transition: all 0.5s linear; }
      .products-wrap .single-product.style-1:hover .image-wrap .buttons-wrap {
        visibility: visible;
        opacity: 1;
        bottom: 20px; }

/* swiper styles */
.swiper-pagination {
  position: relative; }
  .swiper-pagination .swiper-pagination-bullet {
    background: #ffffff;
    border: 1px solid #777777;
    height: 10px;
    width: 10px; }
  .swiper-pagination .swiper-pagination-bullet-active {
    background: #777777; }

.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 15px; }

/* ./swiper styles */
/* ads styles */
.ads .ads-wrapper {
  padding: 80px 0 50px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
  border-radius: 10px;
  overflow: hidden; }
  .ads .ads-wrapper .ad-header {
    font-size: 54px;
    margin-bottom: 60px;
    color: #ffffff;
    line-height: 40px;
    font-weight: 400;
    text-transform: uppercase; }
  .ads .ads-wrapper .button-outline {
    font-size: 22px;
    color: #ffffff;
    padding: 0px 10px;
    text-transform: uppercase;
    font-weight: 400;
    background: transparent;
    border: 1px solid #ffffff;
    display: inline-block;
    border-radius: 0px; }
    .ads .ads-wrapper .button-outline:hover {
      color: #ffffff;
      text-decoration: none; }

/* ./ads styles */
/* vertical menu */
.vertical-menu {
  margin-bottom: 16px; }
  .vertical-menu li {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin: 6px 0; }
    .vertical-menu li i {
      margin-right: 8px; }
    .vertical-menu li a {
      text-decoration: none;
      display: inline-block; }
      .vertical-menu li a i {
        font-size: 16px;
        margin-right: 14px; }

/* ./vertical menu */
/* social buttons */
.social-buttons {
  display: inline-flex; }
  .social-buttons li {
    margin-right: 7px; }
    .social-buttons li a {
      text-decoration: none;
      padding: 10px;
      font-size: 10px;
      color: #0C6ADF;
      border: 1px solid #D7D7D7;
      border-radius: 50%;
      background-color: #ffffff;
      display: inline-block;
      line-height: 0; }
      .social-buttons li a:hover {
        background-color: #0C6ADF;
        color: #ffffff; }

/* ./social buttons */
/* scrollbar design */
::-webkit-scrollbar-track {
  background: #ffffff; }

::-webkit-scrollbar {
  width: 2px; }

/* ./scrollbar design */
* {
  margin: 0;
  padding: 0; }

dl, ol, ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

.form-control:focus {
  box-shadow: none;
  border-color: #D7D7D7; }

.nav-tabs {
  border: none; }
  .nav-tabs .nav-link {
    border: none; }
    .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
      border: none; }
    .nav-tabs .nav-link.active {
      border: none; }

a {
  text-decoration: none;
  color: #333333; }

.dropdown-menu {
  min-width: max-content;
  padding: 0;
  transform: none !important;
  top: 100% !important;
  overflow: hidden; }

body {
  font-family: 'Work Sans', 'Source Sans Pro','Roboto', sans-serif;
  font-size: 14px;
  font-family: 400;
  position: relative; }
  body.show:after {
    background-color: #222;
    opacity: .5;
    content: "";
    width: 100%;
    height: 100%;
    z-index: 20;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10; }

/*
.container .row{
	max-width: 1100px;
	margin: 0 auto;
}
*/
.header {
  margin-bottom: 38px;
  padding: 0; }
  .header .topbar {
    background: #E1E1E1; }
    .header .topbar .left-menu, .header .topbar .right-menu {
      margin: 0;
      padding: 0;
      list-style: none; }
      .header .topbar .left-menu ul, .header .topbar .right-menu ul {
        list-style: none; }
        .header .topbar .left-menu ul li, .header .topbar .right-menu ul li {
          list-style: none;
          cursor: pointer; }
          .header .topbar .left-menu ul li a, .header .topbar .right-menu ul li a {
            display: inline-block;
            padding: 10px 20px;
            text-decoration: none;
            font-size: 13px;
            font-weight: 400;
            color: #333333; }
            .header .topbar .left-menu ul li a.first-child, .header .topbar .right-menu ul li a.first-child {
              padding-right: 0; }
            .header .topbar .left-menu ul li a.last-child, .header .topbar .right-menu ul li a.last-child {
              padding-right: 0; }
            .header .topbar .left-menu ul li a span, .header .topbar .right-menu ul li a span {
              margin-left: 8px; }
            .header .topbar .left-menu ul li a:hover, .header .topbar .right-menu ul li a:hover {
              font-weight: 500; }
  .header .main-header {
    background-color: #D9E8FB;
    padding: 26px 0 27px 0; }
    .header .main-header .logo {
      max-width: 160px;
      height: auto; }
      .header .main-header .logo a {
        display: inline-block; }
      .header .main-header .logo img {
        width: 100%;
        height: auto; }
    .header .main-header .search-wrap .search-text {
      flex: 2;
      position: relative;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px; }
      .header .main-header .search-wrap .search-text:before {
        content: "";
        height: 22px;
        width: 13px;
        background: blue;
        z-index: 14;
        position: absolute;
        left: 9px;
        top: 0; }
    .header .main-header .search-wrap .search-select {
      border-right: 0;
      position: relative; }
      .header .main-header .search-wrap .search-select:after {
        content: "\f078";
        font-family: "Font Awesome 5 Free";
        position: absolute;
        right: 0;
        top: 0; }
    .header .main-header .search-wrap .search-button {
      background-color: #2E74E8;
      font-size: 14px;
      font-family: 400;
      padding: 8px 38px;
      color: #ffffff;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      margin: 0; }
    .header .main-header .menu-icons {
      margin: 0;
      padding: 0;
      list-style: none; }
      .header .main-header .menu-icons ul {
        list-style: none; }
        .header .main-header .menu-icons ul li {
          list-style: none;
          cursor: pointer; }
          .header .main-header .menu-icons ul li a {
            display: inline-block;
            padding: 0 8px;
            text-decoration: none;
            font-size: 18px;
            font-weight: 400;
            color: #333333; }
            .header .main-header .menu-icons ul li a.first-child {
              padding-right: 0; }
            .header .main-header .menu-icons ul li a.last-child {
              padding-right: 0; }
            .header .main-header .menu-icons ul li a span {
              margin-left: 8px; }
            .header .main-header .menu-icons ul li a:hover {
              font-weight: 500; }
  .header .header-menu {
    border-bottom: 1px solid #D7D7D7; }
    .header .header-menu .shop-menu {
      margin: 0;
      padding: 0;
      list-style: none; }
      .header .header-menu .shop-menu ul {
        list-style: none; }
        .header .header-menu .shop-menu ul li {
          list-style: none;
          cursor: pointer; }
          .header .header-menu .shop-menu ul li a {
            display: inline-block;
            padding: 0 12px;
            text-decoration: none;
            font-size: 15px;
            font-weight: 400;
            color: #333333; }
            .header .header-menu .shop-menu ul li a.first-child {
              padding-right: 0; }
            .header .header-menu .shop-menu ul li a.last-child {
              padding-right: 0; }
            .header .header-menu .shop-menu ul li a span {
              margin-left: 8px; }
            .header .header-menu .shop-menu ul li a:hover {
              font-weight: 500; }

.most-popular .most-popular-tabs .nav-tabs, .most-popular .daily-deals-tabs .nav-tabs, .most-popular .featured-products-tabs .nav-tabs, .daily-deals .most-popular-tabs .nav-tabs, .daily-deals .daily-deals-tabs .nav-tabs, .daily-deals .featured-products-tabs .nav-tabs, featured-products .most-popular-tabs .nav-tabs, featured-products .daily-deals-tabs .nav-tabs, featured-products .featured-products-tabs .nav-tabs {
  margin-bottom: 40px; }
  .most-popular .most-popular-tabs .nav-tabs .nav-link, .most-popular .daily-deals-tabs .nav-tabs .nav-link, .most-popular .featured-products-tabs .nav-tabs .nav-link, .daily-deals .most-popular-tabs .nav-tabs .nav-link, .daily-deals .daily-deals-tabs .nav-tabs .nav-link, .daily-deals .featured-products-tabs .nav-tabs .nav-link, featured-products .most-popular-tabs .nav-tabs .nav-link, featured-products .daily-deals-tabs .nav-tabs .nav-link, featured-products .featured-products-tabs .nav-tabs .nav-link {
    color: #333333; }
    .most-popular .most-popular-tabs .nav-tabs .nav-link.active, .most-popular .daily-deals-tabs .nav-tabs .nav-link.active, .most-popular .featured-products-tabs .nav-tabs .nav-link.active, .daily-deals .most-popular-tabs .nav-tabs .nav-link.active, .daily-deals .daily-deals-tabs .nav-tabs .nav-link.active, .daily-deals .featured-products-tabs .nav-tabs .nav-link.active, featured-products .most-popular-tabs .nav-tabs .nav-link.active, featured-products .daily-deals-tabs .nav-tabs .nav-link.active, featured-products .featured-products-tabs .nav-tabs .nav-link.active {
      color: #2E74E8; }

.footer {
  background-color: #F3F3F3;
  padding: 88px 0 0 0; }
  .footer .footer-top {
    margin-bottom: 35px; }
    .footer .footer-top .newsletter {
      display: flex;
      align-items: baseline; }
      .footer .footer-top .newsletter h3 {
        font-size: 18px;
        font-weight: 400;
        line-height: 22px; }
      .footer .footer-top .newsletter .input-group {
        margin-left: 8px; }
        .footer .footer-top .newsletter .input-group input {
          max-width: 430px; }
        .footer .footer-top .newsletter .input-group button {
          font-size: 16px;
          font-weight: 400;
          line-height: 22px;
          padding: 8px 30px 8px 30px; }
  .footer .footer-main {
    padding-bottom: 64px; }
    .footer .footer-main p {
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      margin-bottom: 16px; }

.footer-bottom {
  background-color: #0C6ADF;
  text-align: center; }
  .footer-bottom .footer-copyright {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    padding: 20px 0 22px 0;
    color: #ffffff; }
    .footer-bottom .footer-copyright p {
      margin: 0;
      width: 100%; }

/* Dropdown menu style */
.categories {
  max-width: 250px;
  position: relative;
  z-index: 99;
  background-color: #ffffff;
  cursor: pointer;
  /* Change color of dropdown links on hover */ }
  .categories .dropdown-button {
    border: none;
    background: transparent;
    width: 100%;
    padding: 20px 10px;
    text-align: left;
    display: flex;
    align-items: center; }
    .categories .dropdown-button i {
      margin-right: 10px;
      font-size: 13px; }
  .categories .dropdown-content {
    height: 400px;
    width: 100%;
    top: 100%;
    left: 0;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: none; }
    .categories .dropdown-content > ul {
      max-height: 100%;
      transition: all 0.5s linear;
      overflow: hidden;
      overflow-y: scroll; }
      .categories .dropdown-content > ul > li {
        border-bottom: 1px solid #F3F3F3;
        display: inline-flex;
        width: 100%;
        justify-content: space-between;
        align-items: center; }
        .categories .dropdown-content > ul > li > i {
          padding: 15px; }
        .categories .dropdown-content > ul > li a {
          color: #333333;
          padding: 12px 16px;
          text-decoration: none;
          display: block; }
        .categories .dropdown-content > ul > li .submenu {
          opacity: 0;
          visibility: hidden;
          position: absolute;
          left: 100%;
          top: 0;
          transition: all 0.5s linear;
          width: 750px;
          height: 100%;
          background: #ffffff;
          transform: translateY(10px); }
          .categories .dropdown-content > ul > li .submenu .submenu-wrapper {
            overflow-y: scroll; }
            .categories .dropdown-content > ul > li .submenu .submenu-wrapper .submenu-columns .menu-title {
              font-size: 20px;
              font-weight: 500;
              line-height: 22px;
              margin: 20px 0px 10px 10px;
              position: relative; }
              .categories .dropdown-content > ul > li .submenu .submenu-wrapper .submenu-columns .menu-title:after {
                content: "";
                height: 5px;
                width: 5px;
                background-color: #0C6ADF;
                z-index: 1;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -10px; }
            .categories .dropdown-content > ul > li .submenu .submenu-wrapper .submenu-columns ul li a {
              padding: 5px 10px; }
              .categories .dropdown-content > ul > li .submenu .submenu-wrapper .submenu-columns ul li a:hover {
                background-color: transparent;
                text-decoration: underline;
                transition: all 0.5s linear; }
        .categories .dropdown-content > ul > li:hover {
          background-color: #ddd;
          cursor: pointer; }
          .categories .dropdown-content > ul > li:hover .submenu {
            opacity: 1;
            visibility: visible;
            transform: translateY(0); }
  .categories .dropdown-content a:hover {
    background-color: #ddd; }

/* ./Dropdown menu style */
/* category wrapper style */
.category-wrapper .category-list {
  padding: 35px 30px 35px 40px;
  border: 1px solid #D7D7D7;
  border-radius: 5px; }
  .category-wrapper .category-list ul li {
    border-bottom: 1px solid #D7D7D7; }
    .category-wrapper .category-list ul li a {
      font-size: 15px;
      font-weight: 400;
      line-height: 18px;
      padding: 13px 0;
      display: block; }
      .category-wrapper .category-list ul li a i {
        margin-right: 12px; }
    .category-wrapper .category-list ul li:hover a i {
      margin-right: 14px;
      transition: all 0.3s linear; }
    .category-wrapper .category-list ul li:last-child {
      border: none; }
.category-wrapper .category-slider {
  height: 100%; }
  .category-wrapper .category-slider .swiper-slide {
    height: 100%;
    border: none;
    align-items: flex-start;
    border-radius: 10px;
    overflow: hidden; }
    .category-wrapper .category-slider .swiper-slide img {
      height: 100%;
      width: 100%; }
    .category-wrapper .category-slider .swiper-slide .slider-content {
      position: absolute;
      top: 30px;
      right: 40px;
      text-align: right; }
      .category-wrapper .category-slider .swiper-slide .slider-content h3 {
        font-size: 40px;
        margin-bottom: 12px;
        color: #777777;
        line-height: 40px;
        font-weight: 700;
        font-weight: 'Roboto'; }
      .category-wrapper .category-slider .swiper-slide .slider-content .button-outline {
        font-size: 20px;
        color: #777777;
        padding: 5px 15px;
        text-transform: none;
        font-weight: 400;
        background: transparent;
        border: 1px solid #777777;
        display: inline-block;
        border-radius: 5px; }
        .category-wrapper .category-slider .swiper-slide .slider-content .button-outline:hover {
          color: #777777;
          text-decoration: none; }
  .category-wrapper .category-slider .swiper-pagination {
    bottom: 40px !important;
    margin: 0 !important; }
  .category-wrapper .category-slider .swiper-button-next, .category-wrapper .category-slider .swiper-button-prev {
    top: 50%; }
.category-wrapper .category-promotion {
  padding: 40px 15px 30px 15px;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  background-position: center;
  background-size: cover; }
  .category-wrapper .category-promotion h4 {
    font-size: 22px;
    font-weight: 900;
    line-height: 33px;
    font-family: "Roboto";
    margin-bottom: 10px;
    color: #636363; }
  .category-wrapper .category-promotion h3 {
    font-size: 26px;
    font-weight: 900;
    line-height: 33px;
    font-family: "Roboto";
    margin-bottom: 18px;
    color: #636363; }
  .category-wrapper .category-promotion .button-outline {
    font-size: 15px;
    color: #777777;
    padding: 5px 15px;
    text-transform: none;
    font-weight: 400;
    background: transparent;
    border: 1px solid #777777;
    display: inline-block;
    border-radius: 5px; }
    .category-wrapper .category-promotion .button-outline:hover {
      color: #777777;
      text-decoration: none; }
.category-wrapper .category-image-slider .swiper-slide {
  overflow: hidden;
  border: none;
  height: auto; }
  .category-wrapper .category-image-slider .swiper-slide a {
    display: block;
    text-align: center; }
    .category-wrapper .category-image-slider .swiper-slide a .thumb-image {
      background: #F3F3F3;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px;
      width: 100%;
      height: 132px;
      border-radius: 10px;
      overflow: hidden;
      margin-bottom: 5px; }
      .category-wrapper .category-image-slider .swiper-slide a .thumb-image img {
        width: 100%;
        height: auto; }
    .category-wrapper .category-image-slider .swiper-slide a p {
      font-size: 16px;
      font-weight: 400;
      line-height: 33px;
      margin-bottom: 33px; }
  .category-wrapper .category-image-slider .swiper-slide:hover img {
    transform: scale(1.1);
    transition: all 0.2s; }
.category-wrapper .category-image-slider .swiper-pagination {
  margin: 45px 0 0 0;
  bottom: 0 !important; }
.category-wrapper .category-image-slider .swiper-button-next,
.category-wrapper .category-image-slider .swiper-button-prev {
  top: calc( 50% - 50px ); }
.category-wrapper .category-image-slider:first-child {
  padding-left: 0; }
.category-wrapper .category-image-slider:last-child {
  padding-right: 0; }

/* ./category wrapper style */
/* brands and shops slider style */
.brands-slider .swiper-wrapper .swiper-slide,
.shops-slider .swiper-wrapper .swiper-slide {
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #D7D7D7; }
.brands-slider .swiper-pagination,
.shops-slider .swiper-pagination {
  bottom: 100px !important;
  margin: 45px 0 0 0; }
  .brands-slider .swiper-pagination .swiper-pagination-bullet,
  .shops-slider .swiper-pagination .swiper-pagination-bullet {
    background: #ffffff;
    border: 1px solid #777777;
    height: 10px;
    width: 10px; }
  .brands-slider .swiper-pagination .swiper-pagination-bullet-active,
  .shops-slider .swiper-pagination .swiper-pagination-bullet-active {
    background: #777777; }
.brands-slider .swiper-button-next, .brands-slider .swiper-button-prev,
.shops-slider .swiper-button-next,
.shops-slider .swiper-button-prev {
  top: calc( 50% - 45px ); }
.brands-slider .swiper-button-next:after, .brands-slider .swiper-button-prev:after,
.shops-slider .swiper-button-next:after,
.shops-slider .swiper-button-prev:after {
  font-size: 15px; }

/* ./brands and shops slider style */
/* responsive style */
@media (max-width: 767px) {
  .header .topbar .left-menu, .header .topbar .right-menu {
    margin: 0;
    padding: 0;
    list-style: none; }
    .header .topbar .left-menu ul, .header .topbar .right-menu ul {
      list-style: none; }
      .header .topbar .left-menu ul li, .header .topbar .right-menu ul li {
        list-style: none;
        cursor: pointer; }
        .header .topbar .left-menu ul li a, .header .topbar .right-menu ul li a {
          display: inline-block;
          padding: 5px 8px;
          text-decoration: none;
          font-size: 12px;
          font-weight: 400;
          color: #333333; }
          .header .topbar .left-menu ul li a.first-child, .header .topbar .right-menu ul li a.first-child {
            padding-right: 0; }
          .header .topbar .left-menu ul li a.last-child, .header .topbar .right-menu ul li a.last-child {
            padding-right: 0; }
          .header .topbar .left-menu ul li a span, .header .topbar .right-menu ul li a span {
            margin-left: 8px; }
          .header .topbar .left-menu ul li a:hover, .header .topbar .right-menu ul li a:hover {
            font-weight: 500; }
  .header .header-menu {
    border-bottom: 1px solid #D7D7D7; }
    .header .header-menu .shop-menu {
      margin: 0;
      padding: 0;
      list-style: none; }
      .header .header-menu .shop-menu ul {
        list-style: none; }
        .header .header-menu .shop-menu ul li {
          list-style: none;
          cursor: pointer; }
          .header .header-menu .shop-menu ul li a {
            display: inline-block;
            padding: 0 12px;
            text-decoration: none;
            font-size: 15px;
            font-weight: 400;
            color: #333333; }
            .header .header-menu .shop-menu ul li a.first-child {
              padding-right: 0; }
            .header .header-menu .shop-menu ul li a.last-child {
              padding-right: 0; }
            .header .header-menu .shop-menu ul li a span {
              margin-left: 8px; }
            .header .header-menu .shop-menu ul li a:hover {
              font-weight: 500; }
      .header .header-menu .shop-menu .mobile-nav-open {
        font-size: 20px;
        cursor: pointer;
        padding: 10px;
        display: inline-block; }
      .header .header-menu .shop-menu .side-navigation {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 99;
        top: 0;
        left: 0;
        background-color: #060606fa;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px; }
        .header .header-menu .shop-menu .side-navigation a {
          padding: 8px 8px 8px 32px;
          text-decoration: none;
          font-size: 25px;
          color: #fff;
          display: block;
          transition: 0.3s; }
          .header .header-menu .shop-menu .side-navigation a:hover {
            color: #f1f1f1; }
        .header .header-menu .shop-menu .side-navigation .closebtn {
          position: absolute;
          top: 0;
          right: 25px;
          font-size: 36px;
          margin-left: 50px; }

  /* brands and shops slider style */
  .brands-slider .swiper-wrapper .swiper-slide,
  .shops-slider .swiper-wrapper .swiper-slide {
    height: 100px; }
  .brands-slider .swiper-pagination,
  .shops-slider .swiper-pagination {
    bottom: 150px;
    margin: 45px 0 0 0; }

  /* ads styles */
  .ads .ads-wrapper {
    padding: 30px 0 50px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%; }
    .ads .ads-wrapper .ad-header {
      font-size: 54px;
      margin-bottom: 60px;
      line-height: 40px; }
    .ads .ads-wrapper .button-outline {
      font-size: 22px;
      padding: 0px 10px; }

  /* ./ads styles */
  .category-wrapper .category-list {
    padding: 25px 20px 25px 25px; }
    .category-wrapper .category-list ul li a {
      font-size: 13px; }
  .category-wrapper .category-slider .swiper-slide .slider-content h3 {
    font-size: 25px;
    line-height: 25px; }
  .category-wrapper .category-slider .swiper-slide .slider-content .button-outline {
    font-size: 14px;
    padding: 3px 12px; }
  .category-wrapper .category-image-slider .swiper-slide a .thumb-image {
    height: 140px; }
  .category-wrapper .category-image-slider .swiper-button-next,
  .category-wrapper .category-image-slider .swiper-button-prev {
    top: calc( 50% - 60px ); } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .category-wrapper .category-list {
    padding: 25px 20px 25px 25px; }
    .category-wrapper .category-list ul li a {
      font-size: 13px; }
  .category-wrapper .category-promotion {
    padding: 15px 10px 15px 10px; }
    .category-wrapper .category-promotion h4 {
      font-size: 18px;
      line-height: 20px; }
    .category-wrapper .category-promotion h4 {
      font-size: 22px;
      line-height: 25px; }
  .category-wrapper .category-slider .swiper-slide .slider-content h3 {
    font-size: 25px;
    line-height: 25px; }
  .category-wrapper .category-slider .swiper-slide .slider-content .button-outline {
    font-size: 14px;
    padding: 3px 12px; }
  .category-wrapper .category-image-slider .swiper-slide a .thumb-image {
    height: 90px; } }
/* ./responsive style */
